.movie-details {
	position: relative;
	p {
		color: var(--website-secondary-color);
	}

	.MuiTypography-root {
		color: var(--website-secondary-color);
	}
}

.main-play-button {
	color: var(--website-primary-color);
	font-size: 5rem;
	background-color: rgba(0, 0, 0, 0.6);
}
