.movie-item-upcoming {
	display: flex;
	transition: all 300ms;
	transition-delay: 100ms;
	margin-right: 1rem;

	a {
		color: white;
		height: 100%;
		width: 100%;
	}

	img {
		// width: 100%;
		// height: 250px;
		object-fit: fill;
		transition: all 300ms;
		transition-delay: 100ms;
		// margin-right: 1rem;

		&.poster {
			height: 100%;
			width: 100%;
			object-fit: fill;
			// border-radius: 10px;
		}
	}

	figure {
		position: relative;
		margin: 0;
		transition: all 300ms;
		transition-delay: 100ms;
		// height: 25rem;

		figcaption {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			opacity: 0;
			transition: all 300ms;
			transition-delay: 100ms;
			overflow: hidden;

			div {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-size: 2rem;
				font-weight: bold;
				font-family: "Barlow Condensed";

				span {
					text-align: center;
					font-weight: bold;
					font-size: 1rem;
					font-family: "Barlow Condensed";
				}
			}

			.view-details {
				border: 1px solid #ffa800;
				color: white;
				background-color: #ffa800;
				padding: 5px 8px;
				border-radius: 5px;
				font-weight: bold;
				transition: all 300ms;
				font-size: 0.8rem;
				text-align: center;
				transform: translateY(200%);
				opacity: 0;
				transition: all 0.5s ease-in-out;
			}
		}
	}

	&:hover {
		cursor: pointer;

		figcaption {
			opacity: 1;
			background-color: rgba($color: #000000, $alpha: 0.5);
		}

		img {
			// transform: scale(1.2);
		}

		.view-details {
			transform: translateY(0%);
			opacity: 1;
		}
	}

	// &:hover {
	// 	// transform: translateY(-10%);
	// 	&::before {
	// 		content: "";
	// 		position: absolute;
	// 		top: 0;
	// 		right: 0;
	// 		left: 0;
	// 		bottom: 0;
	// 		background-color: rgba($color: #000000, $alpha: 0.5);
	// 		cursor: pointer;
	// 	}
	// }
}
