.main-container {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}
.footer-main-container {
	height: fit-content;
	margin-top: 2rem;
}
.about-us-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	height: fit-content;
	border-top: solid 1px var(--website-primary-color);
	border-radius: 20px;
	margin-bottom: 25px;
	width: 99vw;
}
.privacy-container {
	min-width: 60vw;
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;

	div {
		&.dynamic {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			padding-left: 2rem;
			padding-right: 2rem;
			text-align: center;
			color: var(--website-secondary-color);

			* {
				width: 80vw;
				text-align: center;
				margin: 15px;

				&:nth-child(1) {
					font-size: 0.8rem;
				}
				&:nth-child(n + 2) {
					font-size: 1rem;
				}
			}
		}
	}

	span {
		width: 80vw;
		text-align: center;
		margin: 15px;
		&:nth-child(2) {
			font-size: 0.8rem;
		}
		&:nth-child(n + 3) {
			font-size: 1rem;
		}
	}
}
.flex-row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.line {
	width: 0;
	height: 0;
	border-top: 1px solid var(--website-secondary-color);
	border-left: 5vw solid var(--website-secondary-color);
	border-bottom: 1px solid var(--website-secondary-color);
	// margin-right: 15px;
}
.line-left {
	width: 0;
	height: 0;
	border-top: 1px solid transparent;
	border-right: 30vw solid var(--website-primary-color);
	border-bottom: 1px solid transparent;
	margin-right: 15px;
}
.line-right {
	width: 0;
	height: 0;
	border-top: 1px solid transparent;
	border-left: 30vw solid var(--website-primary-color);
	border-bottom: 1px solid transparent;
	margin-left: 15px;
}

.btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.btn {
	width: 20rem;
	background-color: transparent;
	color: var(--website-secondary-color);
	border: 1px solid var(--website-secondary-color);
}
.logo-container {
	// display: flex;
	padding: 10px;
}
.about-us {
	width: 60vw;
	text-align: center;
	margin-bottom: 30px;
	color: var(--website-secondary-color);
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	border-bottom: var(--website-primary-color) solid 1px;
	width: 100vw;
	svg {
		color: var(--website-secondary-color);
		cursor: pointer;

		&:hover {
			color: var(--website-primary-color);
			margin: 15px;
		}
	}
	svg {
		margin: 15px;
	}
}
.footer-links {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 80vw;
	margin-top: 20px;
	a {
		color: var(--website-secondary-color);
	}
	a:hover {
		color: var(--website-primary-color);
	}
}
.reserved-rights::after {
	content: attr(data-app-name);
	color: var(--website-primary-color);
}

@media only screen and (max-width: 500px) {
	.about-us {
		width: 70vw;
		display: flex;
		span {
			font-size: 0.8rem;
		}
	}
	.flex-row {
		flex-direction: column;
		svg {
			margin: 10px;
		}
	}
	.line {
		border-left: 35vw solid var(--website-secondary-color);
		margin: 10px;
	}
	.footer-links {
		font-size: 0.7rem;
		text-align: center;
		line-height: 1rem;
		margin-bottom: 10px;
	}
}

.call-button {
	// border: 2px solid transparent;
	background: rgba(0, 0, 0, 0.5);
	// background-color: var(--website-secondary-color);
	border-radius: 30px;
	border-width: 0.8rem;
	justify-content: center !important;
	padding: 0 0 0 10px !important;
	width: 20rem;
	border: var(--website-secondary-color) 1px solid;
	position: relative;
	text-align: center;

	&:hover {
		box-shadow: 1px 1px 10px 1px var(--website-secondary-color);
	}
	a {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		// color: var(--website-primary-color);
		color: var(--website-secondary-color);
		font-weight: bold;
		cursor: pointer;
		// &:hover {
		// 	color: var(--website-primary-color);
		// }
	}
	p {
		font-size: 1rem;
	}
	svg {
		// color: var(--website-primary-color);
		// background-color: var(--website-secondary-color);
		border-radius: 50%;
		padding: 5px;
	}
	div {
		padding: 5px;
	}
}
.privacy-call-button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column !important;
	text-align: center;
}
.call-us {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 3px 15px 3px 0px;
}
