.plans-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;

	h2 {
		font-family: "Barlow Condensed";
		font-weight: 600;
		font-size: 2rem;
	}
	p {
		font-family: "Inter";
	}
}
.plans-card {
	display: flex;
	align-items: center;
	width: 98vw !important;
	// flex-direction: column;
	justify-content: center;
	.card {
		border: var(--website-primary-color) 1px solid;
		background-color: var(--website-primary-color);
		padding: 25px 15px;
		// border-radius: 20px;
		// box-shadow: 1px 1px 10px 1px var(--website-primary-color);
		margin-bottom: 20px;
		max-width: 19rem;
		> div {
			flex-direction: column;
		}
	}
	.plans-card-items {
		h5 {
			font-family: "Playfair Display";
			color: var(--website-secondary-color);
		}
		div {
			font-size: 2rem;
			font-weight: bold;
			font-family: "Inter";
			color: var(--website-secondary-color);
		}
		span {
			font-size: 1rem;
			font-family: "Inter";
			color: var(--website-secondary-color);
		}
		svg {
			font-size: 2rem;
			font-weight: bold;
			color: var(--website-secondary-color);
		}
	}
	.plans-card-list {
		border-top: var(--website-secondary-color) 1px solid;
		ul {
			list-style-type: none;
			padding: 0;
			li {
				display: flex;
				// align-items: center;
				line-height: 2rem;
				color: var(--website-secondary-color);
				svg {
					padding-right: 5px;
					padding-top: 5px;
				}
			}
		}
		.cancel-icon {
			color: var(--website-primary-color);
		}
	}
}
.buy-now {
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
}
button {
	span {
		font-family: "inter";
		font-weight: bold;
	}
}

.description {
	border: 1px solid var(--website-secondary-color);
	padding: 1rem;
	padding-bottom: 2rem;
	text-align: center;
	position: relative;

	h5 {
		font-family: sans-serif;
		text-align: center;
		transform: translateY(-100%);
		background-color: var(--website-alternate-color);
		display: inline-block;
		padding: 0px 15px;
	}
	button {
		font-family: sans-serif;
		text-align: center;
		transform: translateY(85%);
		background-color: var(--website-primary-color);
		display: inline-block;
		color: var(--website-secondary-color);
	}
	span {
		padding: 20px;
		margin-top: 10px;
	}
}

.input-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	label {
		color: var(--website-secondary-color);
		font-weight: bold;
		font-size: medium;
		text-align: center;
		word-wrap: break-word;
	}
	input {
		height: 2.5rem;
		width: 100%;
		color: var(--website-secondary-color);
		border-radius: 5px;
		border: 0.5px solid var(--website-primary-color);
		margin-top: 15px;
		padding: 0 10px;
		background-color: transparent;
		font-size: 1rem;

		div {
			margin: 5px;
		}
	}
}

.otp-container {
	margin: 5px;
}
