.plans-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;

	h2 {
		font-family: "Barlow Condensed";
		font-weight: 600;
		font-size: 2rem;
	}
	p {
		font-family: "Inter";
	}
}
.plans-card {
	display: flex;
	align-items: center;
	width: 98vw !important;
	// flex-direction: column;
	justify-content: center;
	.card {
		border: var(--website-primary-color) 1px solid;
		padding: 25px 15px;
		border-radius: 20px;
		box-shadow: 1px 1px 10px 1px var(--website-primary-color);
		margin-bottom: 20px;
		max-width: 19rem;
		> div {
			flex-direction: column;
		}
	}
	.plans-card-items {
		h5 {
			font-family: "Playfair Display";
			color: var(--website-secondary-color);
		}
		div {
			font-size: 2rem;
			font-weight: bold;
			font-family: "Inter";
			color: var(--website-secondary-color);
		}
		span {
			font-size: 1rem;
			font-family: "Inter";
			color: var(--website-secondary-color);
		}
		svg {
			font-size: 2rem;
			font-weight: bold;
			color: var(--website-secondary-color);
		}
	}
	.plans-card-list {
		border-top: var(--website-primary-color) 1px solid;
		ul {
			list-style-type: none;
			padding: 0;
			li {
				display: flex;
				// align-items: center;
				line-height: 2rem;
				color: var(--website-secondary-color);
				svg {
					padding-right: 5px;
					padding-top: 5px;
				}
			}
		}
		.cancel-icon {
			color: var(--website-primary-color);
		}
	}
}
.buy-now {
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
}
button {
	span {
		font-family: "Playfair Display";
		font-weight: bold;
	}
}

.description {
	border: 1px solid var(--website-primary-color);
	padding: 1rem;
	text-align: center;
	position: relative;

	h5 {
		font-family: sans-serif;
		text-align: center;
		transform: translateY(-100%);
		background-color: var(--website-alternate-color);
		display: inline-block;
		padding: 0px 15px;
	}
	button {
		font-family: sans-serif;
		text-align: center;
		transform: translateY(85%);
		background-color: var(--website-primary-color);
		display: inline-block;
		color: var(--website-secondary-color);
	}
	span {
		padding: 20px;
		margin-top: 10px;
	}
}

.contact-us-btn {
}

.input-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	label {
		color: var(--website-secondary-color);
		font-weight: bold;
		font-size: medium;
		text-align: center;
		word-wrap: break-word;
		// width: 65vw;
	}
	input {
		height: 2.5rem;
		width: 20rem;
		color: var(--website-secondary-color);
		border-radius: 5px;
		border: 0.5px solid var(--website-primary-color);
		margin-top: 15px;
		padding: 0 10px;
		background-color: transparent;
		font-size: 1rem;

		// background: url("../../assets/common/input-bg.png");
		div {
			margin: 5px;
		}
	}
}

.custom-label {
	width: 20rem;
	margin: 1rem 0 0 0 !important;
	.age::after {
		content: " 18+";
		color: var(--website-primary-color);
	}

	label {
		span {
			&:nth-child(2) {
				font-size: 0.8rem;
			}
		}
		pointer-events: none;
	}
	svg {
		pointer-events: visible;
		font-size: 1.2rem;
	}
	a {
		pointer-events: visible;
	}
	p {
		margin: 0 !important;
	}
}

@media only screen and (max-width: 600px) {
	.login-container {
		min-width: 70vw;
		min-height: 80vh;
	}
	.input-container {
		input {
			width: 13rem;
		}
		.error {
			width: 13rem;
		}
	}
	.custom-label {
		width: 13rem;
	}
	.logo-container {
		width: 9rem;
		height: auto;
	}
}

@media only screen and (max-width: 500px) {
	.login-container {
		width: 100vw;
		height: 100vh;
		padding: 20vw 0 0 0;
	}
	.input-container {
		input {
			width: 18rem;
			padding: 5px;
		}
	}
	.custom-label {
		width: 18rem;
	}
}

#country {
	width: 22rem;
	border: 0.5px solid var(--website-primary-color);
	border-radius: 5px;
	margin-top: 1rem;

	div[class*="ValueContainer2"] {
		padding-left: 20px;

		div[class*="singleValue"] {
			font-size: 1rem;
		}

		input {
			height: 2rem;
		}
	}
}

.otp-container {
	margin: 5px;
}
