.plans-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;

	h2 {
		font-family: "Barlow Condensed";
		font-weight: 600;
		font-size: 2rem;
	}
	p {
		font-family: "Inter";
	}
}
.plans-card {
	display: flex;
	align-items: center;
	width: 98vw !important;
	// flex-direction: column;
	justify-content: center;
	.card {
		border: #ffa800 1px solid;
		padding: 25px 15px;
		border-radius: 20px;
		box-shadow: 1px 1px 10px 1px #ffa800;
		margin-bottom: 20px;
		max-width: 19rem;
		> div {
			flex-direction: column;
		}
	}
	.plans-card-items {
		h5 {
			font-family: "Playfair Display";
		}
		div {
			font-size: 2rem;
			font-weight: bold;
			font-family: "Inter";
		}
		span {
			font-size: 1rem;
			font-family: "Inter";
		}
		svg {
			font-size: 2rem;
			font-weight: bold;
		}
	}
	.plans-card-list {
		border-top: #ffa800 1px solid;
		ul {
			list-style-type: none;
			padding: 0;
			li {
				display: flex;
				// align-items: center;
				line-height: 2rem;
				svg {
					padding-right: 5px;
					padding-top: 5px;
				}
			}
		}
		.cancel-icon {
			color: #ffa800;
		}
	}
}
.buy-now {
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
}
button {
	span {
		font-family: "Playfair Display";
		font-weight: bold;
	}
}

.description {
	border: 1px solid #ffa800;
	padding: 1rem;
	text-align: center;
	position: relative;

	h5 {
		font-family: sans-serif;
		text-align: center;
		transform: translateY(-100%);
		background-color: black;
		display: inline-block;
		padding: 0px 15px;
	}
	button {
		font-family: sans-serif;
		text-align: center;
		transform: translateY(85%);
		background-color: #ffa800;
		display: inline-block;
		color: white;
	}
	span {
		padding: 20px;
		margin-top: 10px;
	}
}

.contact-us-btn {
}
