#root {
	// background-color: hsla(220, 100%, 50%, 1);
	// background-image: radial-gradient(
	// 		at 80% 0%,
	// 		hsla(189, 100%, 56%, 1) 0px,
	// 		transparent 50%
	// 	),
	// 	radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
	// 	radial-gradient(
	// 		at 80% 50%,
	// 		hsla(340, 100%, 76%, 1) 0px,
	// 		transparent 50%
	// 	),
	// 	radial-gradient(
	// 		at 80% 100%,
	// 		hsla(242, 100%, 70%, 1) 0px,
	// 		transparent 50%
	// 	),
	// 	radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
	// background-image: url("../../assets/common/background.png");
}

.main-container {
	padding-top: 35px;
	min-height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-container {
	min-width: 60vw;
	min-height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: transparent;
	backdrop-filter: blur(200px);
	-webkit-backdrop-filter: blur(200px);
	// box-shadow: 1px 1px 20px 5px rgb(0 0 0 / 0.3);
	-webkit-box-shadow: 10px 10px 90px 12px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 10px 10px 90px 12px rgba(0, 0, 0, 0.6);
	box-shadow: 10px 10px 90px 12px rgba(0, 0, 0, 0.6);
	filter: drop-shadow(0px 0px 120px rgba(0, 0, 0, 0.5));
	border-radius: 5px;
	// background: url("../../assets/common/input-container-bg.png");
}

.logo-container {
	// display: flex;
	padding: 10px;
}

.input-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	label {
		color: var(--website-secondary-color);
		font-weight: bold;
		font-size: medium;
		text-align: center;
		word-wrap: break-word;
		// width: 65vw;
	}
	input {
		height: 2.5rem;
		width: 20rem;
		color: var(--website-secondary-color);
		border-radius: 5px;
		border: 0.5px solid var(--website-primary-color);
		margin-top: 15px;
		padding: 0 10px;
		background-color: transparent;
		font-size: 1rem;

		// background: url("../../assets/common/input-bg.png");
	}
}

.btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cancel-btn {
	width: 4rem !important;
	height: 4rem !important;
	border: 3px solid var(--website-primary-color) !important;
	border-radius: 100% !important;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent !important;
	margin: 25px !important;
	svg {
		width: 50px !important;
	}
}

.cancel-btn:hover {
	box-shadow: 1px 1px 10px 1px var(--website-primary-color);
	svg {
		color: var(--website-secondary-color);
	}
}

.custom-label {
	width: 20rem;
	margin: 1rem 0 0 0 !important;
	.age::after {
		content: " 18+";
		color: var(--website-primary-color);
	}

	label {
		span {
			&:nth-child(2) {
				font-size: 0.8rem;
			}
		}
		pointer-events: none;
	}
	svg {
		pointer-events: visible;
		font-size: 1.2rem;
	}
	a {
		pointer-events: visible;
	}
	p {
		margin: 0 !important;
	}
}

//TODO Media Query

@media only screen and (max-width: 600px) {
	.login-container {
		min-width: 70vw;
		min-height: 80vh;
	}
	.input-container {
		input {
			width: 13rem;
		}
		.error {
			width: 13rem;
		}
	}
	.custom-label {
		width: 13rem;
	}
	.logo-container {
		width: 9rem;
		height: auto;
	}
}

@media only screen and (max-width: 500px) {
	.login-container {
		width: 100vw;
		height: 100vh;
		padding: 20vw 0 0 0;
	}
	.input-container {
		input {
			width: 18rem;
			padding: 5px;
		}
	}
	.custom-label {
		width: 18rem;
	}
}

#country {
	width: 22rem;
	border: 0.5px solid var(--website-primary-color);
	border-radius: 5px;
	margin-top: 1rem;

	div[class*="ValueContainer2"] {
		padding-left: 20px;

		div[class*="singleValue"] {
			font-size: 1rem;
		}

		input {
			height: 2rem;
		}
	}
}
