.logo-container {
	width: 100px;
	height: 100px;
	margin-bottom: 1rem;

	img {
		object-fit: contain;
		width: 100%;
		height: 100%;
	}
}

.input-container {
	display: flex;
	justify-content: center;
	flex-direction: column;

	label {
		color: var(--website-secondary-color);
		font-weight: bold;
		font-size: medium;
		text-align: center;
		word-wrap: break-word;
	}
	input {
		box-sizing: border-box;
		height: 2.5rem;
		width: 100%;
		color: var(--website-secondary-color);
		border-radius: 5px;
		border: 0.5px solid var(--website-primary-color);
		margin-top: 15px;
		padding: 0 10px;
		background-color: transparent;
		font-size: 1rem;

		div {
			margin: 5px;
		}
	}
}

.cancel-btn {
	width: 4rem !important;
	height: 4rem !important;
	border: 3px solid var(--website-primary-color) !important;
	border-radius: 100% !important;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent !important;
	margin: 25px !important;
	svg {
		width: 50px !important;
	}
}

.cancel-btn:hover {
	box-shadow: 1px 1px 10px 1px var(--website-primary-color);
	svg {
		color: var(--website-secondary-color);
	}
}

.custom-label {
	width: 20rem;
	margin: 1rem 0 0 0 !important;
	.age::after {
		content: " 18+";
		color: var(--website-primary-color);
	}

	label {
		span {
			&:nth-child(2) {
				font-size: 0.8rem;
			}
		}
		pointer-events: none;
	}
	svg {
		pointer-events: visible;
		font-size: 1.2rem;
	}
	a {
		pointer-events: visible;
	}
	p {
		margin: 0 !important;
	}
}

#country {
	width: 100%;
	border: 0.5px solid var(--website-primary-color);
	border-radius: 5px;
	margin-top: 1rem;

	div[class*="ValueContainer2"] {
		padding-left: 20px;

		div[class*="singleValue"] {
			font-size: 1rem;
		}

		input {
			height: 2rem;
		}
	}
}

.otp-container {
	margin: 5px;
}

.sign-in-with-google {
	transition: background-color 0.3s, box-shadow 0.3s;
	color: "white";
	font-weight: bold;
	padding: 0.6em 0;
	width: 15rem;
	border: none;
	border-radius: 30px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

	color: #757575;
	font-size: 14px;
	font-weight: 500;
	background-color: white;

	&:hover {
		border-color: var(--website-primary-color);
		box-shadow: 1px 1px 10px 1px var(--website-primary-color);
		color: #757575;
	}

	&:active {
		background-color: #eeeeee;
	}

	&:focus {
		outline: none;
		box-shadow: 1px 1px 10px 1px var(--website-primary-color);
	}
}
