.app-bar-container {
	margin: 1rem 0;
	height: fit-content;
	transition: all 0.3s ease-in;

	a {
		transition: all 0.2s ease-in;
		color: var(--website-secondary-color);
		font-family: "Barlow Condensed";
		text-align: center;
		color: var(--website-secondary-color);

		&:hover {
			color: var(--website-primary-color);
		}
	}

	.routes {
		align-items: center;
		justify-content: flex-end;

		.nav-item {
			position: relative;
			padding-bottom: 3px;

			// &::before {
			// 	align-self: flex-start;
			// 	content: "";
			// 	width: 80%;
			// 	height: 1px;
			// 	background-color: var(--website-primary-color);
			// 	position: absolute;
			// 	bottom: 0;
			// 	left: 0;
			// 	opacity: 0;
			// }

			// &::after {
			// 	align-self: flex-start;
			// 	content: "";
			// 	width: 60%;
			// 	height: 1px;
			// 	background-color: var(--website-primary-color);
			// 	position: absolute;
			// 	bottom: -5px;
			// 	left: 0;
			// 	opacity: 0;
			// }

			&.active {
				&::before,
				&::after {
					opacity: 1;
				}

				a {
					color: var(--website-primary-color);
				}
			}
		}
	}

	.MuiGrid-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 2s ease;
	}
}

.w-200 {
	width: 200px;
}

.MuiGrid-item {
	&.search-icon {
		transition: all 0.3s ease;
		width: 0;

		&.searching {
			width: fit-content;
		}
	}
}

.custom-link {
	transition: all 0.2s ease-in;

	&:hover {
		color: var(--website-primary-color) !important;
	}
}

.search-container {
	overflow-x: hidden;
	width: 0;
	transition: all 0.4s ease-in-out;
	transform-origin: top right;

	&.active {
		width: 250px;
		height: 2rem;
		overflow: visible;
		margin-right: 10px;
	}
}

.search-icon {
	overflow-x: hidden;
	width: 0;
	transition: all 0.4s ease-in-out;
	transform-origin: top right;

	&.active {
		width: 50px;
	}
}

.drawer-container {
	span {
		color: var(--website-primary-color);
	}
}

.logo-mobile {
	transition: all 0.3s;
	opacity: 1;

	&.hide {
		opacity: 0;
		transform: translateX(-100%);
	}
}

.search-movie-desc {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	line-height: 1rem;
}

//Update Password Modal
.input-container {
	display: flex;
	justify-content: center;
	flex-direction: column;

	label {
		color: var(--website-secondary-color);
		font-weight: bold;
		font-size: medium;
		text-align: center;
		word-wrap: break-word;
	}
	input {
		box-sizing: border-box;
		height: 2.5rem;
		width: 100%;
		color: var(--website-secondary-color);
		border-radius: 5px;
		border: 0.5px solid var(--website-primary-color);
		margin-top: 15px;
		padding: 0 10px;
		background-color: transparent;
		font-size: 1rem;

		div {
			margin: 5px;
		}
	}
}

.cancel-btn {
	width: 4rem !important;
	height: 4rem !important;
	border: 3px solid var(--website-primary-color) !important;
	border-radius: 100% !important;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent !important;
	margin: 25px !important;
	svg {
		width: 50px !important;
	}
}

.cancel-btn:hover {
	box-shadow: 1px 1px 10px 1px var(--website-primary-color);
	svg {
		color: var(--website-secondary-color);
	}
}
