.app-bar-container {
	margin: 1rem 0;
	height: 50px;
	transition: all 0.5s ease-in;

	a {
		transition: all 0.2s ease-in;
		color: white;
		font-family: "Barlow Condensed";
		text-align: center;

		&:hover {
			color: #ffa800;
		}
	}

	.routes {
		align-items: center;
		justify-content: flex-end;

		.nav-item {
			position: relative;
			padding-bottom: 3px;

			&::before {
				align-self: flex-start;
				content: "";
				width: 80%;
				height: 1px;
				background-color: #ffa800;
				position: absolute;
				bottom: 0;
				left: 0;
				opacity: 0;
			}

			&::after {
				align-self: flex-start;
				content: "";
				width: 60%;
				height: 1px;
				background-color: #ffa800;
				position: absolute;
				bottom: -5px;
				left: 0;
				opacity: 0;
			}

			&.active {
				&::before,
				&::after {
					opacity: 1;
				}

				a {
					color: #ffa800;
				}
			}
		}
	}

	.MuiGrid-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 2s ease;
	}
}

.w-200 {
	width: 200px;
}

.MuiGrid-item {
	&.search-icon {
		transition: all 0.5s ease;
		width: 0;

		&.searching {
			width: fit-content;
		}
	}
}

.custom-link {
	transition: all 0.2s ease-in;

	&:hover {
		color: #ffa800 !important;
	}
}

.search-container {
	overflow-x: hidden;
	width: 0;
	transition: all 0.4s ease-in-out;
	transform-origin: top right;

	&.active {
		width: 300px;
		height: 2rem;
		overflow: visible;
	}
}

.search-icon {
	overflow-x: hidden;
	width: 0;
	transition: all 0.4s ease-in-out;
	transform-origin: top right;

	&.active {
		width: 50px;
	}
}

.drawer-container {
	span {
		color: #ffa800;
	}
}
