// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#root {
	background-image: url("src/assets/common/background.png");
	background-size: cover;
	display: flex;
	flex: 1;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 25px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: bold;
	font-family: inherit;
	background-color: white;
	cursor: pointer;
	transition: border-color 0.1ss;
	width: 15rem;
	color: #ffa800;
}
button {
	&:hover:not(:disabled) {
		border-color: #ffa800;
		box-shadow: 1px 1px 10px 1px #ffa800;
	}
	&:disabled {
		color: gray;
	}
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}

.login-btn {
	padding: 10px 20px;
	border: 1px solid #ffa800;
	color: #ffa800;
	text-transform: uppercase;
	background-color: rgba($color: #ffa800, $alpha: 0.15);
	font-family: "Barlow Condensed";
}

.left-right {
	> div {
		div {
			border: 0.5px solid rgba($color: #ffffff, $alpha: 0.5);
			margin-right: 10px;
			display: flex;
			align-items: center;
			justify-content: center;

			a {
				color: rgba($color: #ffffff, $alpha: 0.5);
				display: flex;
				align-items: center;
				justify-content: center;

				p {
					font-size: 12px;
					color: #8c8c8c;
				}
			}
		}
	}
}

.d-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	overflow-x: hidden;
}

.banner-position {
	span {
		font-family: "inter";
		font-size: 0.8rem;

		&.total {
			color: #afafaf;
		}
	}
	.divider {
            width: 30px;
            height: 2px;
            background-color: white;
            align-self: center;
            margin-left: 15px;
	}
}