// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "/node_modules/@sweetalert2/theme-dark/dark.scss";

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	scroll-behavior: smooth;
}

#root {
	display: flex;
	flex: 1;
	background-color: rgba($color: #000000, $alpha: 1);
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
		"Noto Color Emoji";
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button:not(.custom-btn) {
	border-radius: 25px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: bold;
	font-family: inherit;
	background-color: var(--website-secondary-color);
	cursor: pointer;
	transition: all 0.1s ease;
	width: 15rem;
	color: var(--website-primary-color);

	&:hover:not(:disabled) {
		border-color: var(--website-primary-color);
		box-shadow: 1px 1px 10px 1px var(--website-primary-color);
	}
	&:disabled {
		color: gray;
	}

	&:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
}

button {
	&.custom-btn {
		transition: all 0.3s ease;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: var(--website-secondary-color);
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--website-secondary-color);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--website-secondary-color);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--website-secondary-color);
}

.login-btn {
	padding: 6px 15px;
	border: 1px solid var(--website-primary-color);
	color: var(--website-primary-color);
	text-transform: uppercase;
	// background-color: rgba($color: #fff, $alpha: 0.15);
	font-family: "Barlow Condensed";
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		color: var(--website-secondary-color);
		box-shadow: 0px 0px 5px 1px var(--website-primary-color);
	}
}

.left-right {
	> div {
		div {
			border: 0.5px solid var(--website-secondary-color);
			margin-right: 10px;
			display: flex;
			align-items: center;
			justify-content: center;

			a {
				color: var(--website-secondary-color);
				display: flex;
				align-items: center;
				justify-content: center;

				svg {
					color: var(--website-secondary-color);
				}

				p {
					font-size: 12px;
					color: #8c8c8c;
				}
			}
		}
	}
}

.d-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	overflow-x: hidden;
}

.banner-position {
	span {
		font-family: "inter";
		font-size: 0.8rem;

		&.total {
			color: #afafaf;
		}
	}
	.divider {
		width: 30px;
		height: 2px;
		background-color: var(--website-secondary-color);
		align-self: center;
		margin-left: 15px;
	}
}

.alert-container {
	position: fixed;
	top: 2rem;
	right: 2rem;
	transition: all 1s ease-in-out;
	z-index: 1301;

	&.hide {
		visibility: hidden;
	}
	&.show {
		visibility: visible;
	}
}

.carousel {
	.carousel__container--item {
		height: 100%;
	}
	.carousel__prev {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		opacity: 1;
		padding-left: 1rem;
	}

	.carousel__next {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		opacity: 1;
		padding-right: 1rem;
	}
}

input {
	&.error {
		border-color: #ff0c0c;
	}
}

span {
	&.error {
		color: #ff0c0c;
		font-size: 0.8rem;
		align-self: flex-start;
		padding-left: 1rem;
	}
}

.slider {
	height: 100%;
}

.slider {
	img {
		max-width: 75% !important;
		height: auto !important;
		max-height: 100%;
		object-fit: contain;
	}
}

.swal2-confirm {
	background-color: var(--website-primary-color) !important;
}

.w-100 {
	width: 100%;
}

.bg-white {
	background-color: white !important;
}

.flex-column {
	flex-direction: column !important;
}

.color-primary {
	color: var(--website-primary-color) !important;
}

.color-secondary {
	color: var(--website-secondary-color) !important;
}

.color-alternate {
	color: var(--website-alternate-color) !important;
}

.bg-color-primary {
	background-color: var(--website-primary-color) !important;
}

.bg-color-secondary {
	background-color: var(--website-secondary-color) !important;
}

.bg-color-alternate {
	background-color: var(--website-alternate-color) !important;
}

.border-none {
	border: none;
}

.position-absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.play-btn {
	z-index: 1;
}
